.contact {
	
	&__info {
		align-self: center;
		padding: 3rem 1rem;
		color: $color-body;

		@include below (sm) {
			width: 100%;
			margin-top: 3rem;
		}

		@include above (sm) {
			padding: 6rem 3rem;
		}
	}

	&__title {
		margin-top: 0;
	}	
}