.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	&__item {
		color: $white;
		font-size: 1.6rem;

		@include above (sm) {
			font-size: 2.2rem;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		color: $yellow;

		@include above (sm) {
			font-size: 3.5rem;
		}
	}
}
