.header {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	&__logo {
		display: block;
		float: left;
		z-index: 10;

		img {
			width: 200px;
			height: 71px;

			@include above (sm) {
				width: 301px;
				height: 107px;
			}
		}
	}
}