.page {
  
	&__hero {
		background-repeat: no-repeat;
		background-position: center center;
    	background-size: cover;
    	background-image: url(../img/pattern.svg);
    	position: relative;
    	padding-top: 15rem;

    	@include above (sm) {
    		background-attachment: fixed;
    	}

    	&--subpage {
			
			@include above (sm) {
				padding-bottom: 15rem;
			}
    	}
	}

	&__title {
		color: $white;
		font-size: 6.9rem;
		margin-bottom: 0;

		@include above (sm) {
			font-size: 8.9rem;
		}

		@include above (md) {
			font-size: 10.9rem;
		}

		@include above (lg) {
			font-size: 13.9rem;
		}
	}

	&__text {
		color: $yellow;
		text-transform: uppercase;
		letter-spacing: .3rem;
		font-size: 3.8rem;

		@include above (sm) {
			font-size: 4.8rem;
		}

		@include above (md) {
			font-size: 5.8rem;
		}

		@include above (lg) {
			font-size: 6.8rem;
		}
	}

	&__product {
		position: relative;

		@include above (sm) {
			top: 25rem;
		}

		&--front {

			@include above (sm) {
				top: 15rem;
			}
		}
	}

	&__bag {

		@include above (sm) {
			position: absolute;
    		right: -1.5rem;
    		bottom: -5rem;
    	}
	}
}
